[include]
  path = ~/.gitconfig.d/config
[alias]
  a = add
  au = add -u
  sh = add -p
  c = commit
  p = pull
  l = log
  d = difftool
  lp = log -p
  it = fetch --all
  cp = cherry-pick
  co = checkout
  cov = !git checkout $(git choose-branch)
  corv = !git checkout $(git choose-remote-branch)
  choose-branch = !git --no-pager branch -vv | fzf +m | sed 's/* //' | awk '{print $1}' # branch chooser helper
  choose-remote-branch = !git branch -a | fzf +m | sed 's/* //' | awk '{print $1}' # branch chooser helper
  delbranch = !git branch -D $(git choose-branch)
  ; cov = "!f() { local branch=$(git --no-pager branch -vv | fzf +m | sed 's/* //' | awk '{print $1}') && git checkout $branch; }; f"
  ; cob = checkout -b
  com = !git checkout $(git hb)
  cob = "!f() { read -rp 'Create branch name: ' branch && git checkout -b $branch ;}; f"
  s = status
  st = status
  b = branch
  bra = branch -a
  staged = diff --cached
  stg = staged
  cm = commit
  amend = commit --amend
  fixup = commit --fixup HEAD
  yolo = push --force-with-lease
  prb = pull --rebase
  hist = log --oneline --decorate
  rb = rebase
  rbm = !hb=$(git hb) && git pull origin $hb && git rebase origin/$hb
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  m = merge
  ma = merge --abort
  remotes = remote -v
  stashes = stash list
  stash-preview = stash show -p
  branches = !git --no-pager branch --list
  delremotebranch = push origin --delete
  delremotetag = push --delete origin
  deltag = tag --delete
  pushtag = push origin --tags
  discard = checkout -p
  psh = push -u
  ready = !git rebase -i --autosquash master
  pr = !git push -u && hub pull-request -o
  draft-pr = !git pr --draft
  again = !git a -u . && git fixup && git push
  quick-fix = !git it && git a -u && git amend --no-edit && git yolo
  up = !git it && git stash && git rbm && git stash pop
  close-pr = !cb=$(git rev-parse --abbrev-ref HEAD) && git com && git pull && git branch -D $cb
  set-upstream = !cb=$(git rev-parse --abbrev-ref HEAD) && git branch --set-upstream-to=origin/$cb $cb
  rehook = !git fixup --allow-empty && git push
  hb = !git symbolic-ref --short refs/remotes/origin/HEAD | sed 's@^origin/@@'
  fix-origin = !git checkout master && git remote set-head origin --auto
  gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
[push]
  default = current
[core]
  excludesfile = ~/.gitignore
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[init]
  templatedir = ~/.git-templates
[gpg]
  program = gpg
[tag]
  forceSignAnnotated = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[merge]
  tool = vimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
[github]
  user = czuares
; [diff "sopsdiffer"]
; 	textconv = sops -d
